@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-fonts {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
body{
    font-family: "Work Sans", sans-serif;   
}
.nav-logo{
    display: flex;
}
.nav-options{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
}
.nav-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
}
.btn{
    padding: 10px;
    background: #3040C4;
    width: 120px;
    color: white;
    border: none;
    font-size: 16px;
}
.btn-1{
    padding: 10px;
    background: white;
    width: 120px;
    color: #3040C4;
    border: none;
    font-size: 16px;
}
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}
.banner-text{
    padding: 15px;
}
.banner-text h1{
    font-size: 4rem;
}
.what{
    background: #F4F5F7;
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
}
.logo{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}
.invision{
    display: flex;
    margin-top: 60px;
    justify-content: center;
    align-items: center;
    gap: 100px;
}