@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-fonts {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
body{
    font-family: "Work Sans", sans-serif;   
}
.nav-logo{
    display: flex;
}
.nav-options{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
}
.nav-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
}
.btn{
    padding: 10px;
    background: #3040C4;
    width: 120px;
    color: white;
    border: none;
    font-size: 16px;
}
.btn-1{
    padding: 10px;
    background: white;
    width: 120px;
    color: #3040C4;
    border: none;
    font-size: 16px;
}
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}
.banner-text{
    padding: 15px;
}
.banner-text h1{
    font-size: 4rem;
}
.what{
    background: #F4F5F7;
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
}
.logo{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}
.invision{
    display: flex;
    margin-top: 60px;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.manage{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    gap: 150px;
    background: #FCF0E3;
    margin-top: 45px;
}
.manage-text-2{
    border: 2px solid white;
    background: white;
    padding: 10px;
}
.manage-text-images{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
}
.manage-text-1 h5{
    color: red;
    font-size: 1rem;
}
.manage-text-1 h1{
    font-size: 2.5rem;
}
.manage-text-2-image-text{
    line-height: 0px;
}
.built{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 150px;
    margin-top: 45px;
}
.built-text h4{
    font-size: 18px;
    color: #5385D0;
}
.built-text h1{
    font-size: 2.5rem;
}
.flexible{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
    margin-top: 45px;
}
span{
   font-weight: 700;
}
.p-text{
    text-decoration: underline;
    color: #3040C4;
}
.engage{
    margin-top: 45px;
    background: #EDF8FB;
}
.engage-text{
    text-align: center;
    padding: 20px;
}
.engage-text h1{
    font-size: 3.5rem;
}
.images{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
    margin-top: 45px;
    background: #EDF8FB;
    padding: 20px;
}
.image-3 img{
    border: 2px solid #3040C4;
    background:#3040C4 ;
    width: 170px;
    height: 170px;
    padding: 30px;
}
.image-1 img{
    border: 2px solid white;
    background:white ;
    width: 150px;
    height: 170px;
    padding: 30px;
}
.image-2 img{
    border: 2px solid white;
    background:white ;
    width: 150px;
    height: 170px;
    padding: 30px;
}
.image-4 img{
    border: 2px solid white;
    background:white ;
    width: 150px;
    height: 170px;
    padding: 30px;
}
.slider{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.slider-image img{
    margin-top: 250px;
}
